body {
	font-family: 'Lato', sans-serif;
}

#status {
	background: #ffffaa;
	padding: 10px 20px 10px 20px;
	border-radius: 20px;
	margin-left: 20px;
	width: 1024px
}

#main_panel {
	background: #ffffff;
	border: 4px dotted #aaaaaa;
	padding: 10px 20px 10px 20px;
	border-radius: 20px;
	margin-left: 20px;
	width: 1024px
}